*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(185, 219, 224);
}

h1{
    margin-bottom: 20px;
    color: rgb(185, 219, 224);
    background-color: slategrey;
    text-align: center;
    height: 50px;
    margin: auto;
}

#Addcart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item1{
    width: 300px;
    height: 200px;
    background-color: slategrey;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin:10px;
    justify-content: center;
}

#item2{
    width: 300px;
    height: 200px;
    background-color: slategrey;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

#item3{
    width: 300px;
    height: 200px;
    background-color: slategrey;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(185, 219, 224);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: slategrey;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}

h1{
    margin: auto;
    text-align: center;
}

#cartItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    list-style-type: none;
}

.remove-btn{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(185, 219, 224);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
}
